# Terraform local state files
*.tfstate
*.tfstate.*

# Terraform variable files
*.tfvars
*.tfvars.json

# Terraform plan files
*.tfplan

# Crash log files
crash.log

# Exclude .terraform directory
.terraform/

# Ignore override files as they are usually intended to be excluded
override.tf
override.tf.json

# Include these if you have other Terraform files that shouldn't be tracked
*.override.tf
*.override.tf.json
